.ab-stats{
    .ab-stats-title {
        margin-bottom: 6rem;
        h1 {
            font-size: 13rem;
            color: #262626;
            font-weight: 300;
            line-height: 0.9;

            i {
                font-weight: 100;
            }
        }
    }

    .ab-stats-content {

        .caption {
            padding-top: 6rem;
        }

        .main-content {
            padding: 6rem 0;
        }

        h2 {
            color: #262626;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 400;
        }

        p{
            width: 86%;
            font-size: 2.56rem;
            color: #000;
            line-height: 1.3;
        }
    }
}